@model Gradebook.Models.Class
@using Gradebook.Utils
@{
    LocalizedStrings.LanguageDictionary D = LocalizedStrings.Class.Details[ViewBag.LanguageId];
    ViewBag.Title = D["Class details"];
}

<h2>@ViewBag.Title</h2>

<dl class="dl-horizontal">
    <dt>
        @D["Year"]
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Year)
    </dd>
    <dt>
        @D["Unit"]
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Unit)
    </dd>
</dl>

<h4>@D["Supervisor"]</h4>
<dl class="dl-horizontal">
    <dt>
        @D["Name"]
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Supervisor.ApplicationUser.Name)
    </dd>
    <dt>
        @D["Surname"]
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Supervisor.ApplicationUser.Surname)
    </dd>
    <dt>
        @D["Email"]
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Supervisor.ApplicationUser.Email)
    </dd>
</dl>

<h4>@D["Students"]</h4>
<table class="list-table">
    <thead>
    <tr>
        <th>
            @D["Name"]
        </th>
        <th>
            @D["Surname"]
        </th>
        <th>
            @D["Email"]
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @if (Model.Students.Count > 0)
    {
        foreach (var item in Model.Students)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ApplicationUser.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ApplicationUser.Surname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ApplicationUser.Email)
                </td>
                <td>
                    @Html.ActionLink(D["Details"], "Details", "Student", new { id = item.Id }, new { @class = "btn-sm btn-info" })
                </td>
            </tr>
        }
    }
    else
    {
        <tr>
            <td>@D["No students"]</td>
        </tr>
    }
    </tbody>
</table>
