@model IEnumerable<Gradebook.Models.Absence>
@using Gradebook.Utils;
@{
    LocalizedStrings.LanguageDictionary D = LocalizedStrings.Absence.Index[ViewBag.LanguageId];
    ViewBag.Title = D["Absences"];
}

<h2>@ViewBag.Title</h2>

@if (Model.Count() > 0)
{
    <table class="list-table">
        <thead>
        <tr>
            <th>
                @D["Date"]
            </th>
            <th>
                @D["Lesson number"]
            </th>
            <th>
                @D["Is justified?"]
            </th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LessonNumber)
                </td>
                <td>
                    @(item.IsJustified == true ? D["yes"] : D["no"])
                </td>
                <td>
                    @if (User.IsInRole(Gradebook.Utils.Role.Teacher) && (bool)ViewBag.IsSupervisor)
                    {
                        @Html.ActionLink(item.IsJustified == true ? D["Unjustify"] : D["Justify"], "FlipIsJustified", new { studentId = ViewBag.StudentId, id = item.Id })
                    }
                </td>
            </tr>
        }
        </tbody>
    </table>
}
else
{
    @D["No absences"]
    <br />
}

@if (User.IsInRole(Gradebook.Utils.Role.Teacher))
{
    @Html.ActionLink(D["Add absence"], "Create", "Absence", new { studentId = ViewBag.StudentId }, null)
    <br />
    @Html.ActionLink(D["Back to student"], "Details", "Student", new { id = ViewBag.StudentId }, null)
}
