@model Gradebook.Models.ClosedQuestionOption
@using Gradebook.Utils;
@{
    LocalizedStrings.LanguageDictionary D = LocalizedStrings.Quiz.AddAnswer[ViewBag.LanguageId];
    ViewBag.Title = D["Add answer"];
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <div class="alert alert-danger">@ViewBag.ValidationMessage</div>

        @Html.Hidden("questionId", (int)ViewBag.QuestionId)

        <div class="form-group">
            @Html.LabelFor(model => model.Content, D["Content"], htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Content, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IsCorrect, D["Correct?"], htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.IsCorrect)
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @Html.ActionLink(D["Back"], "Edit", new { id = ViewBag.QuizId }, new { @class = "btn btn-default" })
                <button type="submit" name="button" value="Add" class="btn btn-primary">@D["Add"]</button>
            </div>
        </div>
    </div>
}
