@model Gradebook.Models.Quiz
@using Gradebook.Utils;
@{
    LocalizedStrings.LanguageDictionary D = LocalizedStrings.Quiz.Create[ViewBag.LanguageId];
    ViewBag.Title = D["Create quiz"];
    ViewBag.SubjectId = new LinkedList<SelectListItem>();
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <div class="alert alert-danger">@ViewBag.ValidationMessage</div>

        <div class="form-group">
            @Html.Label("subjectId", D["Subject"], htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("subjectId")
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Name, D["Name"], htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Duration, D["Duration [s]"], htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Duration, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @Html.ActionLink(D["Back"], "List", null, new { @class = "btn btn-default" })
                <input type="submit" value="@D["Create"]" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

@section styles {
    @Styles.Render("~/Content/selectize")
}
@section scripts {
@Scripts.Render("~/Scripts/selectize/selectize.js")
<script type="text/javascript">
$(document).ready(function () {
    const subjectRenderOption = {
        option: function (it, escape) {
            return '<div class="selectDiv">' +
                '<span class="mainName">' + escape(it.Name) + '</span>' +
                '</div>';
        }
    };
    const subjectSelect = $('#subjectId').selectize({
        valueField: 'Id', labelField: 'Name', searchField: ['Name'], sortField: 'Name',
        onInitialize: function () {
            $.ajax({
                url: '/Teacher/Quiz/GetSubjects',
                type: 'POST',
                success: function (subjects) {
                    const selectize = subjectSelect[0].selectize;
                    for (let i = 0; i < subjects.length; ++i)
                        selectize.addOption(subjects[i]);
                    selectize.setValue('@Model.SubjectId');
                },
                error: function (response) { console.log(response); }
            });
        }, render: subjectRenderOption
    });
});
</script>
}
