@model Gradebook.Models.Message
@using Gradebook.Utils;
@{
    LocalizedStrings.LanguageDictionary D = LocalizedStrings.Message.Create[ViewBag.LanguageId];
    ViewBag.Title = D["Create message"];
    var recipients = (ICollection<Gradebook.Models.ApplicationUser>)ViewBag.Recipients;
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Create", "Message", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <h4>@D["Recipients"]</h4>
    <table class="list-table">
        <thead>
        <tr>
            <th>
                @D["Name"]
            </th>
            <th>
                @D["Surname"]
            </th>
            <th>
                @D["Email"]
            </th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @if (recipients != null && recipients.Count > 0)
        {
        foreach (var item in recipients)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Surname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.ActionLink(D["Delete"], "DeleteRecipient", new { userId = item.Id }, new { @class = "btn-sm btn-danger" })
                </td>
            </tr>
        }
        }
        else
        {
            <tr>
                <td colspan="4">@D["No recipients"]</td>
            </tr>
        }
        </tbody>
    </table>

    <div class="form-horizontal">
        <div class="alert alert-danger">@ViewBag.ValidationMessage</div>

        <div class="form-group">
            @Html.LabelFor(model => model.Content, D["Content"], htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Content, new { @class = "form-control" })
            </div>
        </div>
    </div>

    <h4>@D["Attachments"]</h4>
    @Html.TextBox("attachedFiles", "", new { @type = "file", @multiple = "multiple" })

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            @Html.ActionLink(D["Back"], "List", null, new { @class = "btn btn-default" })
            @Html.ActionLink(D["Add recipient"], "AddRecipient", null, new { @class = "btn btn-primary" })
            <button type="submit" class="btn btn-primary">@D["Send"]</button>
        </div>
    </div>
}
