@model Gradebook.Models.Message
@using Gradebook.Utils;
@{
    LocalizedStrings.LanguageDictionary D = LocalizedStrings.Message.Details[ViewBag.LanguageId];
    ViewBag.Title = D["Message details"];
}

<h2>@ViewBag.Title</h2>

<dl class="dl-horizontal">
    <dt>
        @D["Time"]
    </dt>
    <dd>
        @Html.DisplayFor(model => model.SendTime)
    </dd>
    <dt>
        @D["Content"]
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Content)
    </dd>
    @if (Model.Sender != null)
    {
        <dt>
            @D["Sender name"]
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Sender.Name)
        </dd>
        <dt>
            @D["Sender surname"]
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Sender.Surname)
        </dd>
        <dt>
            @D["Sender email"]
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Sender.Email)
        </dd>
    }
    else
    {
        <dt>@D["Sender"]</dt>
        <dd>@D["User deleted"]</dd>
    }
</dl>


<h4>@D["Attachments"]</h4>
<table class="list-table">
    <thead>
    <tr>
        <th>
            @D["Attachment name"]
        </th>
        <th>
            @D["Type"]
        </th>
        <th>
            @D["Size (bytes)"]
        </th>
    </tr>
    </thead>
    <tbody>
    @if (Model.Attachments.Count > 0)
    {
    foreach (var item in Model.Attachments)
    {
        <tr>
            <td>
                @Html.ActionLink(item.Name, "DownloadAttachment", new { id = item.Id })
            </td>
            <td>
                @item.FileType
            </td>
            <td>
                @{ var size = item.Data.Length / 2; }
                @size
            </td>
        </tr>
    }
    }
    else
    {
        <tr>
            <td colspan="3">@D["No attachments"]</td>
        </tr>
    }
    </tbody>
</table>
