@model Gradebook.Models.Message
@using Gradebook.Utils;
@{
    LocalizedStrings.LanguageDictionary D = LocalizedStrings.Message.Details[ViewBag.LanguageId];
    ViewBag.Title = D["Message details"];
}

<h2>@ViewBag.Title</h2>

@if ((bool)ViewBag.IsSent)
{
    var recipients = (ICollection<Gradebook.Models.MessageRecipient>)ViewBag.Recipients;
    <dl class="dl-horizontal">
        <dt>
            @D["Sent"]
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SendTime)
        </dd>

        <dt>
            @D["Content"]
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Content)
        </dd>

        <dt>
            @D["Sender name"]
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sender.Name)
        </dd>

        <dt>
            @D["Sender surname"]
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sender.Surname)
        </dd>

        <dt>
            @D["Sender email"]
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sender.Email)
        </dd>

        @if (Model.Attachments.Any())
        {
        <dt>
            @D["Attachment"]
        </dt>

        <dd>
            @Html.ActionLink(Model.Attachments.Single().Name, "DownloadAttachment", new { id = Model.Attachments.Single().Id })
        </dd>
        }
    </dl>

    <h4>@D["Recipients"]</h4>
    <table class="list-table">
        <thead>
        <tr>
            <th>
                @D["Name"]
            </th>
            <th>
                @D["Surname"]
            </th>
            <th>
                @D["Email"]
            </th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in recipients)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Recipient.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Recipient.Surname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Recipient.Email)
                </td>
            </tr>
        }
        </tbody>
    </table>
}
else
{   
    <dl class="dl-horizontal">
        <dt>
            @D["Received"]
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SendTime)
        </dd>

        <dt>
            @D["Content"]
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Content)
        </dd>

        <dt>
            @D["Sender name"]
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sender.Name)
        </dd>

        <dt>
            @D["Sender surname"]
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sender.Surname)
        </dd>

        <dt>
            @D["Sender email"]
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sender.Email)
        </dd>

        @if (Model.Attachments.Any())
        {
        <dt>
            @D["Attachment"]
        </dt>

        <dd>
            @Html.ActionLink(Model.Attachments.Single().Name, "DownloadAttachment", new { id = Model.Attachments.Single().Id })
        </dd>
        }
    </dl>
}

@Html.ActionLink(D["Back"], "Index")

