@model Gradebook.Models.Message
@using Gradebook.Utils;
@{
    LocalizedStrings.LanguageDictionary D = LocalizedStrings.Message.List_[ViewBag.LanguageId];
    ViewBag.Title = D["Messages"];
    var received = (ICollection<Gradebook.Models.Message>)ViewBag.Received;
    var sent = (ICollection<Gradebook.Models.Message>)ViewBag.Sent;
}

<h2>@ViewBag.Title</h2>

<h3>@D["Received"]</h3>
<table class="list-table">
    <thead>
    <tr>
        <th>
            @D["Time"]
        </th>
        <th>
            @D["Content"]
        </th>
        <th>
            @D["Sender name"]
        </th>
        <th>
            @D["Sender surname"]
        </th>
        <th>
            @D["Sender email"]
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @if (received.Count > 0)
    {
    foreach (var item in received)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SendTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sender.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sender.Surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sender.Email)
            </td>
            <td>
                @Html.ActionLink(D["Details"], "Details", new { id = item.Id }, new { @class = "btn btn-info" })
            </td>
        </tr>
    }
    }
    else
    {
        <tr>
            <td colspan="6">@D["No received messages"]</td>
        </tr>
    }
    </tbody>
</table>

<h3>@D["Sent"]</h3>
<table class="list-table">
    <thead>
    <tr>
        <th>
            @D["Time"]
        </th>
        <th>
            @D["Content"]
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @if (sent.Count > 0)
    {
    foreach (var item in sent)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SendTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                @Html.ActionLink(D["Details"], "Details", new { id = item.Id }, new { @class = "btn btn-info" })
            </td>
        </tr>
    }
    }
    else
    {
        <tr>
            <td colspan="3">@D["No sent messages"]</td>
        </tr>
    }
    </tbody>
</table>
@Html.ActionLink(D["Write new"], "Create", null, new { @class = "btn btn-default" })
