@model Gradebook.Models.GlobalAnnouncement
@using Gradebook.Utils;
@{
    LocalizedStrings.LanguageDictionary D = LocalizedStrings.GlobalAnnouncement.Details[ViewBag.LanguageId];
    ViewBag.Title = D["Announcement details"];
}

<h2>@ViewBag.Title</h2>

<div>
    <dl class="dl-horizontal">
        <dt>
            @D["Modification time"]
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ModificationTime)
        </dd>
        <dt>
            @D["Content"]
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Content)
        </dd>
    </dl>
</div>

@Html.ActionLink(D["Back"], "List", null, new { @class = "btn btn-default" })
