@model Gradebook.Models.Message
@using Gradebook.Utils;
@{
    LocalizedStrings.LanguageDictionary D = LocalizedStrings.Class.CreateAnnouncement[ViewBag.LanguageId];
    ViewBag.Title = D["Send announcement"];
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("CreateAnnouncement", "Class", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <div class="alert alert-danger">@ViewBag.ValidationMessage</div>
        @Html.Hidden("id", (int)ViewBag.ClassId)

        <div class="form-group">
            @Html.LabelFor(model => model.Content, D["Content"], htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Content, new { @class = "form-control" })
            </div>
        </div>
    </div>

    <h4>@D["Attachment"]</h4>
    <input name="attachedFile" type="file" @*multiple*@>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" name="button" value="SendByWebsite" class="btn btn-default">@D["Send by website"]</button>
            <button type="submit" name="button" value="SendByEmail" class="btn btn-default">@D["Send by email"]</button>
        </div>
    </div>
}

@Html.ActionLink(D["Back"], "Details", new { id = (int)ViewBag.ClassId }, new { @class = "btn btn-default" })

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
