@model Gradebook.Models.Class
@using Gradebook.Utils;
@{
    LocalizedStrings.LanguageDictionary D = LocalizedStrings.Class.GenerateGradeSheet[ViewBag.LanguageId];
    ViewBag.Title = D["Generate grade sheet"];
    var subjects = (ICollection<Gradebook.Models.Subject>)ViewBag.Subjects;
    var today = DateTime.Now;
    var todayFormatted = $"{today.Year.ToString("0000")}-{today.Month.ToString("00")}-{today.Day.ToString("00")}";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="alert alert-danger">@ViewBag.ValidationMessage</div>

    @Html.Hidden("id", Model.Id)

    <label for="fromDate">@D["From"]:</label>
    <input type="date" id="fromDate" name="fromDate" value="@todayFormatted" />

    <label for="toDate">@D["To"]:</label>
    <input type="date" id="toDate" name="toDate" value="@todayFormatted" />

    <table class="list-table">
        <thead>
        <tr>
            <th>
                @D["Student"]
            </th>
            @foreach (var subject in subjects)
            {
                <th class="sorter-false filter-false">
                    @subject.Name
                </th>
            }
        </tr>
        </thead>
        <tbody>
        @if (Model.Students.Count > 0)
        {
            foreach (var student in Model.Students)
            {
                <tr>
                    <td>
                        @student.ApplicationUser.Name @student.ApplicationUser.Surname
                    </td>
                    @foreach (var subject in subjects)
                    {
                        <td>
                            <input type="checkbox" name="selectedStudentSubjects" value="@student.Id|@subject.Id" />
                        </td>
                    }
                </tr>
            }
        }
        else
        {
            @D["No students"]
        }
        </tbody>
    </table>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            @Html.ActionLink(D["Back"], "Details", new { id = Model.Id }, new { @class = "btn btn-default" })
            <button type="submit" name="button" value="Generate" class="btn btn-primary">@D["Generate"]</button>
        </div>
    </div>
}
