@model IEnumerable<Gradebook.Areas.Teacher.Controllers.ClassController.StudentSubjectsGrades>
@using Gradebook.Utils;
@{
    LocalizedStrings.LanguageDictionary D = LocalizedStrings.Class.GenerateGradeSheet[ViewBag.LanguageId];
    var class_ = (Gradebook.Models.Class)ViewBag.Class;
    ViewBag.Title = D["Grade sheet for class"] + $" {class_.Year} {class_.Unit}";
}

<h2>@ViewBag.Title</h2>

@if (Model.Count() > 0)
{
    foreach (var ssg in Model)
    {
<h3>@ssg.Student.ApplicationUser.Name @ssg.Student.ApplicationUser.Surname</h3>
        foreach (var sg in ssg.SubjectGradesList)
        {
            <h4>@sg.Subject.Name</h4>
            <table class="list-table">
                <thead>
                <tr>
                    <th>
                        @D["Value"]
                    </th>
                    <th>
                        @D["Weight"]
                    </th>
                    <th>
                        @D["Comment"]
                    </th>
                    <th>
                        @D["Modification time"]
                    </th>
                    <th>
                        @D["Teacher"]
                    </th>
                </tr>
                </thead>
                <tbody>
                @if (sg.GradesList.Count == 0)
                {
                    <tr>
                        <td>@D["No grades"]</td>
                    </tr>
                }
                else
                {
                foreach (var grade in sg.GradesList)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => grade.Value)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => grade.Weight)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => grade.Comment)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => grade.ModificationTime)
                        </td>
                        <td>
                            @{ var teacher = grade.Teacher.ApplicationUser.Name + " " + grade.Teacher.ApplicationUser.Surname; }
                            @teacher
                        </td>
                    </tr>
                }
                }
                </tbody>
            </table>
        }
    }
}
else
{
    @D["No students were selected."]
    <br />
}

@Html.ActionLink(D["Back to class"], "Details", new { id = class_.Id }, new { @class = "btn btn-default" })
