@model Gradebook.Models.File
@using Gradebook.Utils;
@{
    LocalizedStrings.LanguageDictionary D = LocalizedStrings.Subject.AddFile[ViewBag.LanguageId];
    ViewBag.Title = D["Add file"];
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("AddFile", "Subject", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <div class="alert alert-danger">@ViewBag.ValidationMessage</div>
        @Html.Hidden("id", (int)ViewBag.SubjectId)

        <div class="form-group">
            @Html.LabelFor(model => model.Description, D["Description"], htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Description, new { @class = "form-control" })
            </div>
        </div>

        <input name="attachedFile" type="file">

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @Html.ActionLink(D["Back"], "Details", new { id = (int)ViewBag.SubjectId }, new { @class = "btn btn-default" })
                <button type="submit" name="button" value="AddFile" class="btn btn-primary">@D["Add"]</button>
            </div>
        </div>
    </div>
}
