@model IEnumerable<Gradebook.Models.Quiz>
@{
    var D = Gradebook.Utils.LocalizedStrings.Quiz.Index[ViewBag.LanguageId];
    ViewBag.Title = D["Quizzes"];
}

<h2>@ViewBag.Title</h2>

@if (User.IsInRole(Gradebook.Utils.Role.Teacher))
{
    @Html.ActionLink(D["Create quiz"], "Create")
}
<table class="table">
    <tr>
        <th>
            @D["Subject"]
        </th>
        <th>
            @D["Name"]
        </th>
        <th>
            @D["Duration"]
        </th>
        <th>
            @D["Modification time"]
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @(item.SubjectId != null ? item.Subject.Name : "null")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Duration)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModificationTime)
            </td>
            <td>
                @if (User.IsInRole(Gradebook.Utils.Role.Teacher))
                {
                    @Html.ActionLink(@D["Edit"], "Edit", new { id = item.Id })
                    @*@Html.ActionLink(@D["Delete"], "Delete", new { id = item.Id })*@
                }
                else if (User.IsInRole(Gradebook.Utils.Role.Student))
                {
                    @Html.ActionLink(@D["Do"], "Do", new { quizId = item.Id })
                }
            </td>
        </tr>
    }
</table>
