@model Gradebook.Models.Appointment
@using Gradebook.Utils;
@{
    LocalizedStrings.LanguageDictionary D = LocalizedStrings.Appointment.Details[ViewBag.LanguageId];
    ViewBag.Title = D["Appointment details"];
}

<h2>@ViewBag.Title</h2>

<dl class="dl-horizontal">
    <dt>
        @D["Name"]
    </dt>
    <dd>
        @Model.Name
    </dd>
    <dt>
        @D["Description"]
    </dt>
    <dd>
        @Model.Description
    </dd>
    <dt>
        @D["Date"]
    </dt>
    <dd>
        @Model.Date.ToShortDateString()
    </dd>
    <dt>
        @D["Class"]
    </dt>
    <dd>
        @{ var tcs = Model.TeacherClassSubject; }
        @tcs.Class.Year @tcs.Class.Unit
    </dd>
    <dt>
        @D["Teacher"]
    </dt>
    <dd>
        @{ var teacher = Model.TeacherClassSubject.Teacher.ApplicationUser; }
        @($"{teacher.Name} {teacher.Surname}")
    </dd>
    <dt>
        @D["Subject"]
    </dt>
    <dd>
        @{ var s = Model.TeacherClassSubject.Subject; }
        @s.Name
    </dd>
</dl>

@Html.ActionLink(D["Back"], "List", null, new { @class = "btn btn-default" })
