@model Gradebook.Models.ResetPasswordViewModel
@using Gradebook.Utils;
@{
    LocalizedStrings.LanguageDictionary D = LocalizedStrings.Account.ResetPassword[ViewBag.LanguageId];
    ViewBag.Title = D["Reset password"];
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("ResetPassword", "Account", new { userId = Model.UserId, code = Model.Code }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>@D["Reset your password"]</h4>
    <hr />
    <div class="alert alert-danger">@ViewBag.ValidationMessage</div>

    <div class="form-group">
        @Html.LabelFor(m => m.Password, D["New password"], new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, D["Confirm new password"], new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-primary" value="@D["Reset"]" />
        </div>
    </div>
}
