@model LinkedList<Gradebook.Models.Appointment>[]
@using Gradebook.Utils;
@{
    LocalizedStrings.LanguageDictionary D = LocalizedStrings.Appointment.Index[ViewBag.LanguageId];
    ViewBag.Title = D["Appointments"];
    var dates = (DateTime[])ViewBag.Dates;
    var weekDelta = (int)ViewBag.WeekDelta;
}

<h2>@ViewBag.Title</h2>

<div class="container">
    <div class="row">
        <div class="calendar col-md-8 offset-md-2">
            @Html.ActionLink(D["Previous week"], "Index", new { weekDelta = weekDelta - 1 })
            @Html.ActionLink(D["Next week"], "Index", new { weekDelta = weekDelta + 1 })
            <table class="table calendar table-bordered table-responsive-sm" id="calendar">
                <thead>
                    <tr class="weekdays bg-dark">
                        <th scope="col" class="text-white text-center">@D["monday"]<br />@dates[0].ToString("dd/MM/yyyy")</th>
                        <th scope="col" class="text-white text-center">@D["tuesday"]<br />@dates[1].ToString("dd/MM/yyyy")</th>
                        <th scope="col" class="text-white text-center">@D["wednesday"]<br />@dates[2].ToString("dd/MM/yyyy")</th>
                        <th scope="col" class="text-white text-center">@D["thursday"]<br />@dates[3].ToString("dd/MM/yyyy")</th>
                        <th scope="col" class="text-white text-center">@D["friday"]<br />@dates[4].ToString("dd/MM/yyyy")</th>
                    </tr>
                </thead>
                <tbody class="days bg-light" id="days">
                    <tr class="weekdays bg-dark">
                        @foreach (var day in Model)
                        {
                            <td>
                                @if (day.Count == 0)
                                {
                                    @D["No appointments"]
                                }
                                else
                                {
                                    foreach (var appointment in day)
                                    {
                                        @Html.ActionLink(appointment.Name, "Details", new { id = appointment.Id, weekDelta = weekDelta })
                                        if (User.IsInRole(Role.Teacher))
                                        {
                                            @:&nbsp;
                                            @Html.ActionLink(D["Delete"], "Delete", new { id = appointment.Id, weekDelta = weekDelta })
                                        }
                                        <br />
                                    }
                                }
                            </td>
                        }
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
