@model Gradebook.Models.Class
@using Microsoft.AspNet.Identity
@using Gradebook.Utils;
@{
    LocalizedStrings.LanguageDictionary D = LocalizedStrings.Class.Details[ViewBag.LanguageId];
    ViewBag.Title = D["Class details"];
    string userId = User.Identity.GetUserId();
}
@Html.Partial("~/Views/Class/Details.cshtml", Model)

<h4>@D["Teachers"]</h4>
<table class="list-table">
    <thead>
    <tr>
        <th>
            @D["Name"]
        </th>
        <th>
            @D["Surname"]
        </th>
        <th>
            @D["Email"]
        </th>
        <th>
            @D["Subject"]
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.TeacherClassSubjects)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Teacher.ApplicationUser.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Teacher.ApplicationUser.Surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Teacher.ApplicationUser.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subject.Name)
            </td>
        </tr>
    }
    </tbody>
</table>
@Html.ActionLink(D["Back"], "List", null, new { @class = "btn btn-default" })
