@model Gradebook.Models.File
@{
    var D = Gradebook.Utils.LocalizedStrings.Subject.AddFile[ViewBag.LanguageId];
    ViewBag.Title = D["Add file"];
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("AddFile", "Subject", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.Hidden("id", (int)ViewBag.SubjectId)

        <div class="form-group">
            @Html.LabelFor(model => model.Description, D["Description"], htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <input name="attachedFile" type="file">

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" name="button" value="AddFile" class="btn btn-default">Add file</button>
            </div>
        </div>
    </div>
}

@Html.ActionLink(D["Back"], "Details", new { id = (int)ViewBag.SubjectId })
