@model Gradebook.Models.Subject
@using Gradebook.Utils;
@{
    LocalizedStrings.LanguageDictionary D = LocalizedStrings.Subject.Details[ViewBag.LanguageId];
    ViewBag.Title = D["Subject details"];
}

<h2>@ViewBag.Title</h2>

<dl class="dl-horizontal">
    <dt>
        @D["Name"]
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Name)
    </dd>
    <dt>
        @D["Syllabus"]
    </dt>
    <dd>
        @if (Model.Syllabus != null)
        {
            @Html.ActionLink(D["Download"], "DownloadSyllabus", new { id = Model.Id }, new { @class = "btn btn-info" })
        }
        else
        {
            @D["Syllabus was not uploaded."]
        }
    </dd>
</dl>
@Html.ActionLink(D["Back"], "List", null, new { @class = "btn btn-default" })
