@model Gradebook.Models.Subject
@using Gradebook.Utils;
@{
    LocalizedStrings.LanguageDictionary D = LocalizedStrings.Subject.Details[ViewBag.LanguageId];
    ViewBag.Title = D["Subject details"];
    var files = (ICollection<Gradebook.Models.File>)ViewBag.Files;
}

<h2>@ViewBag.Title</h2>

<dl class="dl-horizontal">
    <dt>
        @D["Name"]
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Name)
    </dd>
    <dt>
        @D["Syllabus"]
    </dt>
    <dd>
        @if (Model.Syllabus != null)
        {
            @Html.ActionLink(D["Download"], "DownloadSyllabus", new { id = Model.Id })
        }
        else
        {
            @D["Syllabus was not uploaded."]
        }
    </dd>
</dl>

@if (User.IsInRole(Gradebook.Utils.Role.Teacher) || User.IsInRole(Gradebook.Utils.Role.Student))
{
    <h4>@D["Files"]</h4>
    if (files.Count > 0)
    {
        <table class="list-table">
            <thead>
            <tr>
                <th>
                    @D["Name"]
                </th>
                <th>
                    @D["Description"]
                </th>
                <th>
                    @D["Modification time"]
                </th>
                @if (User.IsInRole(Gradebook.Utils.Role.Teacher))
                {
                    <th></th>
                }
            </tr>
            </thead>
            <tbody>
            @foreach (var item in files)
            {
                <tr>
                    <td>
                        @Html.ActionLink(item.Name, "DownloadFile", new { id = item.Id })
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ModificationTime)
                    </td>
                    @if (User.IsInRole(Gradebook.Utils.Role.Teacher))
                    {
                        <td>
                            @Html.ActionLink(D["Delete"], "DeleteFile", new { id = item.Id })
                        </td>
                    }
                </tr>
            }
            </tbody>
        </table>
    }
    else
    {
        @D["No files."]
        <br />
    }
}

@if (User.IsInRole(Gradebook.Utils.Role.Teacher))
{
    @Html.ActionLink(D["Add file"], "AddFile", new { id = Model.Id })
    <br />
}

@Html.ActionLink(D["Back"], "Index")
