@model Gradebook.Models.Subject
@using Gradebook.Utils;
@{
    LocalizedStrings.LanguageDictionary D = LocalizedStrings.Subject.Edit[ViewBag.LanguageId];
    ViewBag.Title = D["Edit subject"];
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Edit", "Subject", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <div class="alert alert-danger">@ViewBag.ValidationMessage</div>
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.Name, D["Name"], htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
            </div>
        </div>

        <h4>@D["Syllabus"]</h4>
        @if (Model.Syllabus != null)
        {
            @Html.ActionLink(D["Download syllabus"], "DownloadSyllabus", new { id = Model.Id }, new { @class = "btn btn-primary" })
            @Html.ActionLink(D["Delete syllabus"], "DeleteSyllabus", new { id = Model.Id }, new { @class = "btn btn-danger" })
        }
        else
        {
            @D["Syllabus was not uploaded."]
        }
        <input name="attachedFile" type="file">

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @Html.ActionLink(D["Back"], "List", null, new { @class = "btn btn-default" })
                <input type="submit" value="@D["Save"]" class="btn btn-primary" />
            </div>
        </div>
    </div>
}
