@model IEnumerable<Gradebook.Models.Subject>
@using Gradebook.Utils;
@{
    LocalizedStrings.LanguageDictionary D = LocalizedStrings.Subject.List_[ViewBag.LanguageId];
    ViewBag.Title = D["Subjects"];
}

<h2>@ViewBag.Title</h2>

<table class="list-table">
    <thead>
    <tr>
        <th>
            @D["Name"]
        </th>
        <th>
            @D["Syllabus"]
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @if (Model.Count() > 0)
    {
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @if (item.Syllabus != null)
                    {
                        @Html.ActionLink(D["Download"], "DownloadSyllabus", new { id = item.Id }, new { @class = "btn btn-info" })
                    }
                    else
                    {
                        @D["Syllabus was not uploaded."]
                    }
                </td>
                <td>
                    @Html.ActionLink(D["Edit"], "Edit", new { id = item.Id }, new { @class = "btn btn-primary" })
                    @Html.ActionLink(D["Details"], "Details", new { id = item.Id }, new { @class = "btn btn-info" })
                    @Html.ActionLink(D["Delete"], "Delete", new { id = item.Id }, new { @class = "btn btn-danger" })
                </td>
            </tr>
        }
    }
    else
    {
        <tr>
            <td colspan="3">@D["No subjects"]</td>
        </tr>
    }
    </tbody>
</table>
<br />
@Html.ActionLink(D["Add"], "Create", null, new { @class = "btn btn-default" })
