@model Gradebook.Models.Subject
@using Gradebook.Utils
@{
    LocalizedStrings.LanguageDictionary D = LocalizedStrings.Subject.Details[ViewBag.LanguageId];
    var files = (ICollection<Gradebook.Models.File>)ViewBag.Files;
}
@Html.Partial("~/Views/Subject/Details.cshtml", Model)

<h4>@D["Files"]</h4>
<table class="list-table">
    <thead>
    <tr>
        <th>
            @D["Name"]
        </th>
        <th>
            @D["Description"]
        </th>
        <th>
            @D["Modification time"]
        </th>
    </tr>
    </thead>
    <tbody>
    @if (files.Count() > 0)
    {
        foreach (var item in files)
        {
            <tr>
                <td>
                    @Html.ActionLink(item.Name, "DownloadFile", new { id = item.Id }, new { @class = "btn btn-info" })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ModificationTime)
                </td>
            </tr>
        }
    }
    else
    {
        <tr>
            <td>@D["No files"]</td>
        </tr>
    }
    </tbody>
</table>
@Html.ActionLink(D["Back"], "List", null, new { @class = "btn btn-default" })
